<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Relatório - Turmas por professor</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Relatório de turmas por professor
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${turmaRelatorio}" th:action="@{/relatorios/turmasProfessor}" target="_blank">
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			
			
			
			<div class="row">			
			
				<div class="form-group  col-sm-4  wl-required">
					<label class="control-label" for="professor">Professor</label>
					<div class="input-group">
				      <input id="professor" type="text" readonly="readonly" class="form-control" th:field="*{professor.usuario.nome}"
				     		 placeholder="Clique na lupa para pesquisar o professor"/>
				      <input id="codigoProfessor" type="hidden" th:field="*{professor}"/>
				      	<span class="input-group-btn">
				        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada"
				        			data-toggle="modal" data-target="#pesquisaRapidaProfessores">
				        	<i class="glyphicon  glyphicon-search"></i>
				        </button>
				      </span>
				    </div>				    
				</div>
				
				<div class="form-group  col-sm-3 wl-required">
					<label class="control-label" for="dataEntrega">Ano</label>
					<input type="text" maxlength="4" class="form-control js-plain" id="dataEntrega" 
					th:field="*{ano}"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label class="control-label" for="horarioEntrega">Semestre</label>
					<input type="text" maxlength="1" min="1" max="2" class="form-control js-plain" id="horarioEntrega" 
					th:field="*{semestre}"/>
				</div>
			</div>
				
			<button type="submit" class="btn  btn-primary">Gerar</button>
		</form>
	</div>
	<th:block th:replace="professor/PesquisaRapidaProfessores :: pesquisaRapidaProfessores"></th:block>
	
</section>

<th:block layout:fragment="javascript-extra">

	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/professor.pesquisa-rapida.js}"></script>
	<script th:src="@{/javascripts/turma.js}"></script>
	  
	<script>
	$(function() {
		$('.js-abas-venda a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
	</script>
	
</th:block>

</html>