<!DOCTYPE html>

<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layout/LayoutPadrao}"
		xmlns:workload="http://workload.desafio.com" 
		xmlns:data="http://www.thymeleaf.org/extras/data" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Adicionar atividade</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Desenvolvimento de atividades de interesse do câmpus.</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-default" th:href="@{/atividades}">
							<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>		
		</div>
	</div>

	<div class="container-fluid">
		
		<form method="POST" th:object="${atividade}" class="form-vertical  js-form-loading" th:action="@{/atividades/criar}">
			<workload:message/>			
						
			<h2 class="wl-demarca">Info</h2>
			
			<div class="row">
				
				<div class="col-sm-5  form-group wl-required">
					<label class="control-label" for="area">Área da atividade</label>
						<select id="area" class="form-control" th:field="*{area}">
							<option th:each="area : ${areas}" th:value="${area.codigo}" th:text="${area.descricao}" th:if="${area.codigo} == 4"></option>
						</select>
				</div>
				
				<div class="col-sm-5  form-group wl-required" workload:classforerror="restricao">
					<label class="control-label" for="restricao">Restrição</label>
						<select id="restricao" class="form-control" th:field="*{restricao}">
							<option value="">Selecione a restrição</option>
							<option th:each="restricao : ${restricoes}" th:value="${restricao.codigo}" th:text="${restricao.descricao}"></option>
						</select>
				</div>
								
				<div class="col-sm-2 form-group wl-required" workload:classforerror="pontuacao">
					<label for="pontuacao" class="control-label">Pontuação</label>
					<input type="number" min="1" max="50" id="pontuacao" class="form-control" th:field="*{pontuacao}"/>		
				</div>
				
			</div>
			
			<div class="row">
					<div class="form-group  col-sm-12  wl-required" workload:classforerror="descricao">
						<label for="descricao" class="control-label">Descrição</label>
						<textarea class="form-control" id="descricao" rows="5" 
								placeholder="Descreva sobre o que a atividade se trata." th:field="*{descricao}"></textarea>
					</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>
</section>
</body>
</html>
